.elementor-bc-flex-widget
  .elementor-214
  .elementor-element.elementor-element-cffb93f.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-214
  .elementor-element.elementor-element-cffb93f.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-214
  .elementor-element.elementor-element-cffb93f.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-214 .elementor-element.elementor-element-66e2f6c {
  width: auto;
  max-width: auto;
  z-index: 1;
}
.elementor-214
  .elementor-element.elementor-element-66e2f6c
  .elementor-heading-title {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 57px;
  font-weight: 800;
}
.elementor-214 .elementor-element.elementor-element-ece35e7 {
  width: 100%;
  max-width: 100%;
  z-index: 1;
  text-align: center;
}
.elementor-214
  .elementor-element.elementor-element-ece35e7
  .elementor-heading-title {
  color: #ffe602;
  font-family: "Montserrat", Sans-serif;
  font-size: 88px;
  font-weight: 800;
  text-shadow: 0px 0px 10px #ffe602;
}
#elementor-popup-modal-214 .dialog-widget-content {
  background-color: #02010100;
}
#elementor-popup-modal-214 {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#elementor-popup-modal-214 .dialog-message {
  width: 640px;
  height: auto;
}
@media (max-width: 1024px) {
  .elementor-214
    .elementor-element.elementor-element-66e2f6c
    .elementor-heading-title {
    font-size: 54px;
  }
  .elementor-214
    .elementor-element.elementor-element-ece35e7
    .elementor-heading-title {
    font-size: 79px;
  }
}
@media (max-width: 767px) {
  .elementor-214 .elementor-element.elementor-element-66e2f6c {
    text-align: center;
  }
  .elementor-214
    .elementor-element.elementor-element-66e2f6c
    .elementor-heading-title {
    font-size: 37px;
  }
  .elementor-214
    .elementor-element.elementor-element-ece35e7
    .elementor-heading-title {
    font-size: 53px;
  }
}
